<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form name="contact" action="/traitement" method="post" name="contact">
      <label for="nom">Nom</label>
      <input type="text" name="nom" id="nom" />
      <br />
      <label for="msg">Votre message</label>
      <input type="text" name="msg" id="msg" />
      <br />
      <input type="submit" value="Envoyer" />
      <br />
    </form>
  </body>
</html>
